<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsentText</key>
	<dict>
		<key>default</key>
		<string>DEFAULT_CONSENT_TEXT</string>
		<key>en</key>
		<string>DEFAULT_CONSENT_TEXT</string>
	</dict>
	<key>DurationUntilRemoval</key>
	<real>1234</real>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>AutoJoin</key>
			<true/>
			<key>CaptiveBypass</key>
			<true/>
			<key>EncryptionType</key>
			<string>WPA2</string>
			<key>HIDDEN_NETWORK</key>
			<true/>
			<key>IsHotspot</key>
			<true/>
			<key>Password</key>
			<string>WIFI_PASSWORD</string>
			<key>PayloadDescription</key>
			<string>WIFI_DESCRIPTION</string>
			<key>PayloadDisplayName</key>
			<string>WIFI_DISPLAY_NAME</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.wifi.managed.00000000-0000-0000-0000-000000000000</string>
			<key>PayloadOrganization</key>
			<string>WIFI_ORGANIZATION_NAME</string>
			<key>PayloadType</key>
			<string>com.apple.wifi.managed</string>
			<key>PayloadUUID</key>
			<string>00000000-0000-0000-0000-000000000000</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>ProxyPassword</key>
			<string>PROXY_PASSWORD</string>
			<key>ProxyServer</key>
			<string>PROXY_SERVER_NAME</string>
			<key>ProxyServerPort</key>
			<integer>1234</integer>
			<key>ProxyType</key>
			<string>Manual</string>
			<key>ProxyUsername</key>
			<string>PROXY_USER_NAME</string>
			<key>QoSMarkingPolicy</key>
			<dict>
				<key>QoSMarkingAppleAudioVideoCalls</key>
				<true/>
				<key>QoSMarkingEnabled</key>
				<true/>
				<key>QoSMarkingWhitelistedAppIdentifiers</key>
				<array>
					<string>BUNDLE_IDENTIFIER</string>
				</array>
			</dict>
			<key>SSID_STR</key>
			<string>SSID</string>
		</dict>
	</array>
	<key>PayloadDescription</key>
	<string>MOBILE_CONFIG_DESCRIPTION</string>
	<key>PayloadDisplayName</key>
	<string>MOBILE_CONFIG_DISPLAY_NAME</string>
	<key>PayloadExpirationDate</key>
	<date>1970-01-01T00:00:00Z</date>
	<key>PayloadIdentifier</key>
	<string>Configuration.00000000-0000-0000-0000-000000000000</string>
	<key>PayloadOrganization</key>
	<string>MOBILE_CONFIG_ORGANIZATION_NAME</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadScope</key>
	<string>User</string>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>00000000-0000-0000-0000-000000000000</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
