<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>AutoJoin</key>
			<false/>
			<key>CaptiveBypass</key>
			<false/>
			<key>EAPClientConfiguration</key>
			<dict>
				<key>AcceptEAPTypes</key>
				<array>
					<integer>21</integer>
				</array>
				<key>PayloadCertificateAnchorUUID</key>
				<array>
					<string>00000000-0000-0000-0000-000000000001</string>
				</array>
				<key>TLSMaximumVersion</key>
				<string>1.2</string>
				<key>TLSMinimumVersion</key>
				<string>1.0</string>
				<key>TTLSInnerAuthentication</key>
				<string>PAP</string>
				<key>UserName</key>
				<string>EAP_USERNAME</string>
				<key>UserPassword</key>
				<string>EAP_PASSWORD</string>
			</dict>
			<key>EncryptionType</key>
			<string>WPA2</string>
			<key>HIDDEN_NETWORK</key>
			<false/>
			<key>PayloadDescription</key>
			<string>WIFI_DESCRIPTION</string>
			<key>PayloadDisplayName</key>
			<string>WIFI_DISPLAY_NAME</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.wifi.managed.00000000-0000-0000-0000-000000000000</string>
			<key>PayloadOrganization</key>
			<string>WIFI_ORGANIZATION_NAME</string>
			<key>PayloadType</key>
			<string>com.apple.wifi.managed</string>
			<key>PayloadUUID</key>
			<string>00000000-0000-0000-0000-000000000000</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>SSID_STR</key>
			<string>SSID</string>
		</dict>
		<dict>
			<key>PayloadCertificateFileName</key>
			<string>test.cer</string>
			<key>PayloadContent</key>
			<data>
			QUJDREVG
			</data>
			<key>PayloadDescription</key>
			<string>Adds a PKCS#1-formatted certificate</string>
			<key>PayloadDisplayName</key>
			<string>Some name</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.security.pkcs1.00000000-0000-0000-0000-000000000001</string>
			<key>PayloadType</key>
			<string>com.apple.security.pkcs1</string>
			<key>PayloadUUID</key>
			<string>00000000-0000-0000-0000-000000000001</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>PayloadDescription</key>
	<string>MOBILE_CONFIG_DESCRIPTION</string>
	<key>PayloadDisplayName</key>
	<string>MOBILE_CONFIG_DISPLAY_NAME</string>
	<key>PayloadIdentifier</key>
	<string>Configuration.00000000-0000-0000-0000-000000000000</string>
	<key>PayloadOrganization</key>
	<string>MOBILE_CONFIG_ORGANIZATION_NAME</string>
	<key>PayloadRemovalDisallowed</key>
	<true/>
	<key>PayloadScope</key>
	<string>User</string>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>00000000-0000-0000-0000-000000000000</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
